*{
    margin: 0px;
    padding: 0px;
}

.heading-1{
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 25px;
}
.paragraph-1{
    width: 50%;
    padding-bottom: 25px;
    color: gray;
}
.button-1{
    background-color: rgba(230, 34, 99, 0.915);
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 5px;
    color:white;
}
.header{
    background-color: rgba(255, 232, 236, 0.992);
}
.banner-container{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.left-container{
    padding-left: 200px;
}
.img-1{
padding-top: 50px;
padding-right: 200px;
vertical-align: bottom;
width: 500px;
}
.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
}
.body{
    background-color:rgba(255, 232, 236, 0.695) ;

}
.img-2{
    width: 250px;
height: 350px;
   padding-top: 100px;
   padding-bottom: 100px;
}
.heading-2, .paragraph-2{
    padding-bottom: 15px;
}
.Instagram{
    text-align: center;
    padding-top: 80px;
   
}
.headline-3{
    font-weight: bold;
}
.paragraph-3{
    padding-top: 20px;
    color: gray;
    padding-bottom: 30px;
}
.paragraph-2{
    color: gray;
}
.image-content{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 10px;
    padding-bottom: 100px;
    text-align: center;
}
.image-1, .image-2, .image-3, .image-4{
    width: 100%;
}
.img-size{
    width: 80%;
    text-align: center;
}
.offers{
    text-align: center;
    padding-bottom: 100px;

}
.description{
    text-align: center;
    margin-top: -400px;
}
.headline-5{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 15px;
}
.paragraph-4{
    color: gray;
    padding-bottom: 30px;
}
#email-text{
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.button-1:hover{
    color: blue;
    cursor: pointer;
}
.footer{
    padding-top: 230px;
    }
.box{
    height: 450px;
    background-color: black;
    color: white;
    text-align: center;
}
.headline-6{
    font-size: 35px;
    padding-top: 150px;
    padding-bottom: 25px;
}
.paragraph-5{
    color: #dcd9d9f3;
}
.copyright{
    padding-top: 25px;
    color: gray;
}
.all-texts{
    text-align: center;
}
.headline-7{
    padding-top: 100px;
    padding-bottom: 25px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box-1{
    width: 300px;
height: 350px;
background-color: rgba(167, 33, 98, 0.15);
align-items: center;
border-radius: 300px 300px 0px 0px;
}
.item-1, .item-2{
    width: 200px;
    height: 250px;
   padding-top: 99px;
   padding-left: 60px;
}
.item-3{
    width: 200px;
    height: 250px;
    padding-top: 65px;
    padding-left: 60px;
}
.box-2{
    width: 300px;
height: 350px;
background-color:rgba(5, 151, 160, 0.15);
align-items: center;
border-radius: 300px 300px 0px 0px;
}
.box-3{
    width: 300px;
height: 350px;
background-color:rgba(71, 125, 17, 0.15);
align-items: center;
border-radius: 300px 300px 0px 0px;
}
.boxes{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 50px;
    width: 80%;
    margin: auto;
}
#flower-1 , #flower-2{
    text-align: center;
    padding-top: 10px;
    font-size: larger;
    font-weight: bold;
}
#flower-3{
    padding-top: 43px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#New-arrival{
    padding-top: 40px;
    text-align: center;
    font-size: 55px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif      
}
.arrival-items{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}
.new-item-1, .new-item-2, .new-item-3, .new-item-4, .new-item-5{
    text-align:center ;
    padding-bottom: 5px;
}
#sale{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    color: rgba(230, 34, 99, 0.7);
}
.button-2{
    background-color: rgba(230, 34, 99, 0.915);
    border: none;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    color:white;
    margin-left: 50%;
    margin-bottom: 60px;
}
.button-2:hover{
    color: blue;
    cursor: pointer;
}
.delivery-img-container{
    display: flex;
    justify-content: space-around;
    background-color:rgba(234, 234, 234, 0.922) ;
    width: 80%;
    margin: auto;
    height: 250px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 70px;
}
.delivery-background{
    padding-bottom: 50px;
}
.delivery-img-1{
    text-align: center;
    color: rgb(104, 104, 104);
    font-size: larger;
}

